[user]
	name = Giedrius Kudelis
	email = giedrius.kudelis@vinted.com
[core]
	autocrlf = input
	safecrlf = false
	editor = /usr/local/bin/nvim
[alias]
    co = checkout
    ci = commit
    ce = commit --allow-empty
    st = status
    br = branch
    rv = revert
    pl = pull
    ps = push
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --all
    type = cat-file -t
    dump = cat-file -p
[push]
	default = current
[pull]
	rebase = true
